<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</head>
<body>
  <!-- Include Navbar via Flask -->
  {% include 'navbar.html' %}

  <!-- Content -->
  <div class = 'fb_1'>
    <div class = 'f1'>
      {% if image_path %}
        <img src="{{ url_for('static', filename=image_path) }}" alt="">
      {% else %}
        <h1>Upload an Image</h1>
      {% endif %}
    </div>
    <div class = 'f2'>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file" class="imagelabel">Choose an image:</label>
        <br><br><br>
        <div class = "upload_image">
          <div class = "fileup">
            <input type="file" id="fileElem" accept="image/*" name="image">
          </div>
          <br>
          <img id="preview" src="#" alt="">
        </div>
        <br>
        <button type="submit">Upload</button>
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
            {% for category, message in messages %}
              <li class="alert alert-{{ category }}" style="list-style-type: none;">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
    </div>
  </div>

  <hr>
  
  {% if disease_info_list %}
  <div class = "prediction">
    {% for disease_info in disease_info_list %}
      <h2 class = "penyakit">{{ disease_info['common_name'] }}</h2> <!--override yang ini-->
      <p class = "penjelasan-penyakit">{{ disease_info['description'] }}</p> <!--override yang ini-->
      <br>
      <div class = "partition">
        <div class = "p1">
          <h2 class = "penyebab">Penyebab</h2>
          <ul class = "ul">
            {% for factor in disease_info['risk_factors'] %}
            <li class = "penyebab-penyakit">{{ factor }}</li> <!--override yang ini-->
            {% endfor %}
          </ul>
        </div>
        <div class = "p2">
          <h2 class = "solusi">Solusi</h2>
          <ul class = "ul">
            {% for solution in disease_info['solutions'] %}
            <li class = "solus-penyakit">{{ solution }}</li> <!--override yang ini-->
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
  {% else %}
    <h2 class = "penyakit">Belum ada prediksi saat ini</h2>
  </div>
  {% endif %}

  
  <div class="footer">
    <p>© 2025 Oralytics. All rights reserved.</p>
  </div>

  <br><br><br><br>
</body>
</html>
