<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</head>
<body>
  <!-- Include Navbar via Flask -->
  {% include 'navbar.html' %}

  <!-- Content -->
  <div class = 'fb_1'>
    <div class = 'f1'>
      <h1>Upload an Image</h1>
    </div>
    <div class = 'f2'>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file" class="imagelabel">Choose an image:</label>
        <br><br><br>
        <div class = "upload_image">
          <div class = "fileup">
            <input type="file" id="fileElem" accept="image/*">
          </div>
          <br>
          <img id="preview" src="#" alt="">
        </div>
        <br>
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>

  <hr>
  
  <div class = "prediction">
    <h2 class = "penyakit">penyakit a</h2> <!--override yang ini-->
    <p class = "penjelasan-penyakit">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <!--override yang ini-->
    <br>
    <div class = "partition">
      <div class = "p1">
        <h2 class = "penyebab">Penyebab</h2>
        <ul class = "ul">
          <li class = "penyebab-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
          <li class = "penyebab-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
          <li class = "penyebab-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
        </ul>
      </div>
      <div class = "p2">
        <h2 class = "solusi">Solusi</h2>
        <ul class = "ul">
          <li class = "solus-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
          <li class = "solus-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
          <li class = "solus-penyakit">Lorem ipsum dolor sit amet</li> <!--override yang ini-->
        </ul>
      </div>
    </div>
  </div>

  
  <div class="footer">
    <p>© 2025 Oralytics. All rights reserved.</p>
  </div>

  <br><br><br><br>
</body>
</html>
