<!-- File: page1.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Oralytics</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/webcam.css') }}">
  <script src="{{ url_for('static', filename='js/webcam.js') }}"></script>
</head>
<body>
  <!-- Import Navbar -->
  {% include 'navbar.html' %}

  <!-- Content -->
  <div class = "cam-box">
    <br>
    <video id="webcam" autoplay playsinline muted style= "display : none;"></video>
    <canvas id="canvas" style="display:none;"></canvas>
    <img id="camera-off-image" src="{{ url_for('static', filename='images/disabled-cam.png') }}" alt="Camera Off" style="display: block;">
    <br>
    <div class = "cam-button">
      <button id="camera-toggle">Turn On Camera</button>
      <button id="camera-flip">Flip Camera</button>
      <button id="camera-capture">Capture</button>
    </div>
  </div>
  <br><br>
  <hr>

  <div id="loading-container" style="display: none;">
    <div id="loading-bar"></div>
  </div>

  <div id="result-image-container" class="image-container-result">
      
  </div>

  <div class = "prediction">
    
  </div>


  
  <div class="footer">
    <p>© 2025 Oralytics. All rights reserved.</p>
  </div>

  <br><br><br><br>

</body>
</html>